$md: (
  hrColor: var(--bg-md-hr),
  blockquoteBg: var(--bg-md-blockquote),
  color-blockquote: var(--color-basic-700),
  blockquoteBorderColor: var(--color-primary),
  markBg: var(--color-primary),
  kbdBg: #fafbfc,
  singleLineCoodeBg: var(--bg-md-single-code),
  singleLineCoodeColor: #15a7a7,
  detailsBg: var(--bg-md-summary),
  detailsBorderColor: var(--border-md-details),
  detailsActiveBorderColor: var(--border-md-details-active),
);

@import './common/markdown.scss';
