::-webkit-scrollbar {
  width: 12px;
  height: 12px;
  border-radius: 4px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--bg-scrollbar-track);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--bg-scrollbar-thumb);
  border-radius: 4px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--bg-scrollbar-thumb-hover);
}
